{{#if success_msg}}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{{success_msg}}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}

{{#if warning_msg}}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{{warning_msg}}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}


{{#if confirm_msg}}
<!-->未完成的確認是否刪除提示<-->
<div class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p>{{confirm_msg}}</p>
            </div>
            <div class="modal-footer">
                <form action="./records/{{this._id}}?_method=DELETE" method="post">
                    <input type="button" value="取消" name="delConfirm" class="btn btn-outline-secondary">
                    <input type="button" value="確認刪除" name="delConfirm" class="btn btn-outline-danger">
                </form>
            </div>
        </div>
    </div>
</div>
{{/if}}

{{#if errors}}
{{#each errors}}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{{this.message}}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/each}}
{{/if}}

{{#if error}}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{{error}}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}