<div class="d-flex justify-content-center align-items-center">
    <div class="row">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                類別
            </button>
            <ul class="dropdown-menu " id="category-selector" type="submit">
                <li><a class="dropdown-item" href="#" data-set-category="all">全部顯示</a></li>
                <li><a class="dropdown-item" href="#" data-set-category="0">家居物業</a></li>
                <li><a class="dropdown-item" href="#" data-set-category="1">交通出行</a></li>
                <li><a class="dropdown-item" href="#" data-set-category="2">休閒娛樂</a></li>
                <li><a class="dropdown-item" href="#" data-set-category="3">餐飲食品</a></li>
                <li><a class="dropdown-item" href="#" data-set-category="4">其他</a></li>
            </ul>
        </div>

        <div>
            <span>總金額</span>
            <div id="totalAmount">
            </div>
            {{#each records}}
            <div class="d-flex ">
                <ul class="list-group list-group-horizontal">
                    <li class="list-group-item" src={{this.icon}}></li>
                    <li class="list-group-item">{{this.name}}</li>
                    <li class="list-group-item">{{this.date}}</li>
                    <li class="list-group-item">{{this.amount}}</li>
                </ul>
                <a href="./records/{{this._id}}" class="btn btn-outline-success">Edit</a>
                <form action="./records/{{this._id}}?_method=DELETE" method="POST">
                    <button type="submit" class="btn btn-outline-danger">
                        Delete
                    </button>
                </form>
            </div>
            {{/each}}
            <div id="statement">
            </div>
            <a href="/records/new" class="btn btn-success">新增支出</a>
        </div>
    </div>
</div>